<!DOCTYPE html>
<html> <head>
<title>{{ title }}</title>
<link rel="stylesheet" type="text/css" href="base.css">
</head>
<body>
<header><a href="../" rel="author">Spencer Gordon</a></header> <hr>
{{#if article}} <div id="article"> {{article}} </div> {{/if}}
<address>69 Brown St., Box #3850, Brown University, Providence, RI
02912 <br>
spencer gordon at brown dot edu</address>
</body> </html>