Pygments==1.5
distribute==0.6.40
git-remote-helpers==0.1.0
ipython==0.13.1
nose==1.2.1
pygame==1.9.2pre
pyzmq==2.2.0.1
tornado==2.4
vboxapi==1.0
virtualenv==1.8.2
wsgiref==0.1.2
wxPython==2.9.4.0
wxPython-common==2.9.4.0
