body {
    font-family: Courier, monospace;
    /* font-family: "Helvetica Neue", Helvetica, sans-serif; */
    font-size: 16px;
}

header { 
    margin-bottom: 1%;
}

#text { 
    margin: 0 1% 0 1%;
}

#blog_post { 
    margin: 0 3% 0 3%;
}

#footer { 
    margin-top: 1%;
}

a { 
    color: #003366;
}

a:visited { 
    color: #669999;
}

a:not(:hover) { 
    text-decoration: none;
}

#sketchpad { 
    margin: 10px;
    /* border: solid 2px #ccc; */
}
