{% extends "base.template" %}
{% block title %}Index{% endblock %}
{% block body %}
<ul>
{% for page in pages %}
<li><a href="/{{page.destination}}">{{page.name}}</a>: {{page.description}}</li>
{% endfor %}  
</ul>

{{ super() }} 

{% endblock %}
